*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* ПРАВАЯ КОЛОННА */

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;
  gap: 30px;
}

.content__list-container {
  height: 298px;
  overflow-y: scroll;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
}
.result__video-container {
  position: relative;
}

.error {
  position: absolute;
  inset: 0;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 212px 1fr;
  gap: 40px;
  margin-top: 16px;
}

.search-form__fieldset {
  border: transparent;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-weight: 300;
}

.search-form__textfield {
  width: 225px;
  border-top: 1px solid #d9d9d9;
  border-right: none;
  border-bottom: 1px solid #d9d9d9;
  border-left: none;
  padding: 2.5px 0px;
  outline: none;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  opacity: 0.7;
  color: #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:active {
  background: #545050;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  opacity: 0;
  background-color: #fff;
  transition: opacity 0.2s ease-in-out;
}

.search-form__label-text {
  font-weight: 300;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  text-decoration: none;
  background: #545050;
}

.button:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  justify-self: end;
  align-self: end;
  padding: 5px 73.5px;
}

/* ЛЕВАЯ КОЛОННА */

.title {
  margin-bottom: 20px;
  font-family: Oswald;
  font-weight: 700px;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-weight: 700px;
  font-size: 75px;
  line-height: 0.94;
}

.result__video-container {
  width: 100%;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-container {
  position: relative;
}

.content__list-item {
  gap: 30px;
  padding: 0 3px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 196px 1fr;
  margin-bottom: 30px;
}

.content__video-card-thumbnail {
  width: 193px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.content__card-link:active {
  text-decoration: none;
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-title {
  overflow: hidden;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  overflow-x: hidden;
  font-weight: 300;
  line-height: 0.9;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.more-button {
  width: 100%;
  padding: 5px 142px;
  font-size: 18px;
}
